[2015-10-08 21:06] mostaphaRoudsari opened #1 "re-structure .py files"
Even-if the files are going to be small it's very important to keep the files separate, and modular. This will eventually help for more contributions and avoids potential unnecessary conflicts.

[2015-10-08 21:13] mostaphaRoudsari opened #2 "Create Ladybug's data list class"
[code]

[2015-10-08 21:17] mostaphaRoudsari opened #3 "Start wiki page for API documentation"
I'm documenting the code itself. It should be more of a copy/paste but I need to get it started before it starts being a monster.

not to myself: It means do it before creating any Dynamo nodes or Grasshopper components!

[2015-10-08 21:35] mostaphaRoudsari opened #4 "Create Ladbug's sunpath"
[code]

[2015-10-10 13:20] mostaphaRoudsari commented on #3
Here is the standard to follow for code documentation: https://www.python.org/dev/peps/pep-0257/
and then use libraries like [Sphinx](https://codeandchaos.wordpress.com/2012/07/30/sphinx-autodoc-tutorial-for-dummies/)

[2015-10-10 14:23] #1 closed

[2015-11-27 22:20] #2 closed

[2015-12-05 18:46] mostaphaRoudsari opened #5 "Implement timestep to analysis period"
I'm trying to remove day-month-hour input for the sunpath and merge it with analysis period into a single input as HoursOfYear. To do so AnalysisPeriod needs to accept timestep and LBDateTime needs to support partial hours.

[2015-12-05 19:09] #4 closed

[2015-12-06 16:03] #5 closed

[2015-12-06 16:21] mostaphaRoudsari opened #6 "Modify LBDataList to work with timesteps not equal to 1"
- [x] ```separateDataByHour``` https://github.com/ladybug-analysis-tools/ladybug-core/blob/master/ladybug/core.py#L557

- [x] ```updateDataForAnAnalysisPeriod``` https://github.com/ladybug-analysis-tools/ladybug-core/blob/master/ladybug/core.py#L592

- [x] ```updateDataForHoursOfYear``` check floatHOY and not HOY https://github.com/ladybug-analysis-tools/ladybug-core/blob/master/ladybug/core.py#L6

[2015-12-08 18:45] mostaphaRoudsari opened #7 "Explore available Python libraries for solar calculation"
There are three different advantages that I can think of:
1. Time zones will be calculated accurately as it is not always correct in epw files
2. Daylight saving period can be calculated accurately
3. Methods such as sunrise and sunset are already developed.

The main disadvantage is that I have to re-write/modify part of the current code but it shouldn't be so much work. I'm so close to finish th

[2015-12-09 07:50] mostaphaRoudsari commented on #7
I implemented sunrise and sunset. pytz is around 2MB of data. I would leave it to the user to identify daylight saving period!

[2015-12-09 07:50] #7 closed

[2016-02-20 12:47] mostaphaRoudsari commented on #3
Ended up using [pdoc](https://github.com/mostaphaRoudsari/pdoc). Check the API documentation [here](http://ladybug-analysis-tools.github.io/ladybug-core/doc/)

![image](https://cloud.githubusercontent.com/assets/2915573/13196770/217984da-d7a6-11e5-8f72-398b675905fe.png)

[2016-02-20 12:47] #3 closed

[2016-03-14 01:48] mostaphaRoudsari opened #8 "Update code based on PEP8"
It will take good amount of time but is very necessary to avoid bad practice! :|

[2016-03-27 16:34] mostaphaRoudsari opened #9 "Implement __slots__ for base data types"
It should help to some extents with the memory issues in Python node.

[2016-04-27 03:15] chriswmackey opened #10 "Performance issues with using Ladybug Core libraries in GH"
I have two key questions that, with answers, I believe I can really start cleaning/building out the revised version of Ladybug for GH.  I uploaded a GH test file that is trying to use the new libraries for ladybug here:
https://github.com/ladybug-analysis-tools/ladybug/blob/master/tests/comfortModelTest.gh?raw=true
I am just importing the core right now but I know that we will eventually import la

[2016-04-27 03:39] mostaphaRoudsari commented on #10
@chriswmackey short answer to question 1 is that the current import epw is doing much more than the old version and it is normal that it will take longer. Still 15 seconds is too much. I will have a look later this week and will have better answers for both of your questions.

[2016-04-27 12:22] chriswmackey commented on #10
@ mostaphaRoudsari ,

Thanks for the response and the plan sounds good. There's no rush on the answers but I just wanted to post the question up here so that it did not fall through the cracks. I might just be using the EPW class incorrectly and that could be the reason why it is taking 15 seconds.

-Chris

[2016-05-11 22:27] mostaphaRoudsari commented on #10
@chriswmackey we have already addressed your question number 2. Back to 1 I started running some test and I found some interesting results. If I run the same code in AtomEditor it will take between 2-3 seconds.

The same code in Grasshopper takes around 28 seconds on my machine but if I don't assign them to component outputs it will take 3.6 seconds (close to atom editor). Most of the time is the

[2016-05-12 08:58] piac commented on #10
Hi @mostaphaRoudsari

I'm sorry I'm swamped in a ton of other things right now. I promise I will look into this, though, if you could do me a favor first. Could you time the same thing after gathering all results in a python list? (and not assigning it as output?)

that is, rather than...
output = get_your_outputdata()
do this:
temp_list = list(get_your_outputdata())

the temp_list needs not be se

[2016-05-12 12:10] mostaphaRoudsari commented on #10
Hi @piac, Thank you for the quick reply even though I know you're very busy. I did what you suggested and it takes less than 4 second. Just in case I'm copying the code here. Let me know if I need to do anything else.

[code]

[2016-05-12 12:16] mostaphaRoudsari commented on #10
Also updated the [file](https://github.com/ladybug-analysis-tools/ladybug/raw/master/tests/importEPW_performance_test.gh).
![image](https://cloud.githubusercontent.com/assets/2915573/15214162/7e93273a-1819-11e6-9afe-32bc51a270e8.png)

[2016-05-12 15:22] piac commented on #10
@mostaphaRoudsari Is it any faster if you assign the output after constructing an explicit list() ?

[2016-05-12 15:58] mostaphaRoudsari commented on #10
@piac no it doesn't. It actually adds to the time (~35 seconds).

Back to the error, you need to change the filepath to a valid epw file. You can download one from [epwmap](http://mostapharoudsari.github.io/epwmap/). Download the zip file and extract it. There should be an *.epw file that you can use.

[2016-05-12 17:35] piac commented on #10
Ah OK — I understand now. Welcome to the _Magic World Of Goo_&trade;. :)

This is no GhPython bug or limitation. It's just Grasshopper having to do lots of very hard work to find the best match for your custom types, and failing miserably every single time after having done the hard work. You have an easy time with types because you are using Python, but Grasshopper needs to know how to bake (if p

[2016-05-13 00:16] mostaphaRoudsari commented on #10
@piac thank you for the clarification and the example file.

It solves the issue with the running time but the results is very similar to casting them to string. Is there a way to unwrap the GH_ObjectWrapper and take my original objects back?

The whole point of creating custom objects vs numbers and strings is to make the workflow more efficient. We have a full list of methods that now won't real

[2016-05-13 10:26] piac commented on #10
Well, this is how the Grasshopper SDK works.

In general, it seems to me that there is some work to do on OOP design, because 'dewPointTemperature' (for example) has tons of class instances, but they actually would belong to a single class, not to tons of spread around classes. If you use fewer classes, of course there will be no problem passing it around. Generally speaking, also, a single 'outpu

[2016-05-13 13:06] mostaphaRoudsari commented on #10
Thanks @piac!

Ladybug data currently does not inherent from ```object```. The image below shows why. I wanted ```__repr__``` to be human readable. That's why you see them as instances and not a single class. I ended up writing my own [Wrapper class](https://github.com/ladybug-analysis-tools/honeybeex/blob/master/honeybeex/wrapper.py) to address this issue. I will update Ladybug classes soon.

![i

[2016-05-13 13:46] piac commented on #10
If you override the .Net ToString(), you can get a similar result inheriting from object.
You could also inherit from IGH_Goo or one of its derived types, so you would not need to construct an empty object. [This is](https://github.com/piac/TurtleMesh/blob/master/TurtleGh/GH_TurtleMesh.cs) for example what Turtle does.

[2016-05-14 12:31] mostaphaRoudsari commented on #10
Thank you for the tip. ```ToString()``` will be very useful. I can remove Wrapper class from Ladybug.

[2016-05-15 04:45] chriswmackey commented on #10
@mostaphaRoudsari  and @piac ,
I just wanted to thank you for all of your attention to this over the last few days. I learned a lot from your conversation and I am very much looking forward to seeing an implementation with ToString() and GH_ObjectWrapper.  And, of course, I am absolutely looking forward to GH2!

[2016-05-21 22:35] mostaphaRoudsari commented on #9
Started here: https://github.com/ladybug-analysis-tools/ladybug/commit/fbd7e48f9f3500295b54934bbfb0f491b1e2da09

[2016-05-25 13:38] mostaphaRoudsari commented on #6
There has been changes in Ladybug datatype and datetime and now HOY returns a float value by default which will address all the items above. I keep this open until I push the new development to github.

[2016-05-25 13:48] mostaphaRoudsari opened #11 "Add __str__ and ToString to all ladybug objects"
Here is how it should be implemented for any ladybug and honeybee object.

`__repr__` returns a short human readable string - **repr** shows up in Grasshopper and Dynamo outputs.

`ToString` returns `__repr__`. This is for overwriting .NET method for human readable output in Grasshopper and Dynamo (Read more #10)

`__str__` returns a verbose report for the object as a string. This will be used by

[2016-05-26 22:07] mostaphaRoudsari opened #12 "change AnalysisPeriod.__timestampsData to a tuple of MOY"
Currently an annual analysis period takes 2.0 MiB. I hope changing the timestamps to a tuple enhances the performance.

[code]

[2016-05-26 22:14] mostaphaRoudsari opened #13 "Change datacollection from list to tuple"
```LBDataCollection``` is currently a subclass of ```list``` which is mainly because of upate method. I did check the prformance of epw.py today and it takes 20.4 MB for 35 fields of 8760 data. I wonder if subclassing from tuple or collecting data in a tuple can enhance the performance. I'm doing all the possible optimization before re-doing the comparison between Python, Grasshopper and Dynamo (#

[2016-05-26 22:48] mostaphaRoudsari commented on #13
[code]

[2016-05-27 00:24] mostaphaRoudsari commented on #13
Turns out that however tuple is more efficient if the data added once (extend), list is more efficient when the data is appended item by item. Since in this case I need to add data item by item current implementation as a list subclass is a better option.

[code]

[2016-05-27 00:24] #13 closed

[2016-05-27 22:12] mostaphaRoudsari opened #14 "update sunpath and sun classes"
Current changes in LBDatatime effects sunpath and sun.

[2016-05-28 02:04] #12 closed

[2016-05-28 02:04] #14 closed

[2016-05-28 12:47] #8 closed

[2016-05-28 12:47] #9 closed

[2016-05-29 23:25] #6 closed

[2016-05-30 13:56] mostaphaRoudsari opened #15 "Add warning if timezone doesn't match longitude"
This is not critical but would be nice to have it and is easy to implement.

[2016-06-01 03:53] mostaphaRoudsari opened #16 "LBDataCollection.interpolateData misses the last hour data from the list"
When it comes to the end of the year the value should be interpolated based on the first hour of the year. Currently it stops there as there is no other value.

[2016-06-03 05:40] #16 closed

[2016-06-03 17:03] #15 closed

[2016-11-22 15:11] Dheb19 opened #17 "Path Error in Ladybug Package 0.1.4 for Dynamo 1.2"
Hello,

Running the Ladybug Package 0.1.4 in Dynamo 1.2 gives me the following error on Ladybug nodes

Traceback (most recent call last):
File "<String>", line 45, in <module>
File "<String>", line 29, in tryGetPluginPath
IOError: [Errno 2] Could not find a part of the path 'C:\users\{user}\AppData\roaming\Dynamo\dynamo Core\1.2\DynamoSettings.xml' .: C:\users\{user}\AppData\roaming\Dynamo\dynamo

[2016-11-22 15:31] mostaphaRoudsari commented on #17
Hi @Dheb19, This is happening because ladybug can't find the Dynamo installation folder on your machine. Is your username `user{user}`?

Can you run this script in a Python node and let me know the output?
[code]

[2016-11-22 15:46] Dheb19 commented on #17
My user name is denis_h so the error is:

IOError: [Errno 2] Could not find a part of the path 'C:\users\denis_h\AppData\roaming\Dynamo\dynamo Core\1.2\DynamoSettings.xml' .: C:\users\denis_h\AppData\roaming\Dynamo\dynamo Core\1.2\DynamoSettings.xml

When I run the python script above, the output is "C:\Users\denis_h\AppData\Roaming" for both outputs

[2016-11-22 16:23] mostaphaRoudsari commented on #17
Thanks! Let me check and get back to you soon. Seems to be the same issue here: https://github.com/ladybug-analysis-tools/honeybee-plus/issues/25#issuecomment-262285296

[2016-11-22 17:28] mostaphaRoudsari commented on #17
@Dheb19 can you also check this reply: https://github.com/ladybug-analysis-tools/honeybee-plus/issues/25#issuecomment-262306942 and let me know the results. Thanks!

[2016-11-22 20:04] mostaphaRoudsari commented on #17
This is fixed in version 0.1.5. Thank you for reporting the issue and your help to get it fixed!

[2016-11-22 20:04] #17 closed

[2016-12-30 21:10] chriswmackey opened #18 "Ensure That There's Some Way of Running Python 2.7 (and other versions) from the GH Interface"
The method described in this  email with @mostaphaRoudsari and @Vyrwn sounds good to me:

I have been thinking about the best solution for integrating scripts such as yours (@Vyrwn) in ladybug, honeybee and now butterfly environment. Both Grasshopper and IronPython have their own limitations over using Python.

My first thought is to collect them in a folder named as scripts and then load them usi

[2017-01-01 12:22] didimitrie commented on #18
I'm willing to help out on this. I've prototyped a [workflow for cloud components](https://www.youtube.com/watch?v=tT-wYlM0Aqg&list=PLlsa4iFBVezNFw25rIOlwaQS4RT6Zz_sh&index=1) [youtube]. The stack seen there is using node-based, but there's nothing stopping from implementing/calling any script from the so called `exec` function, ie python scripts, ruby scripts, other js stuff, even .net stuff.

Of

[2017-01-02 11:57] didimitrie commented on #18
Yes, re timeline: it's a mess 💥  All these things are coming out from my research project at the bartlett/innochain and I'm finding it difficult to invest time in them (ie, justify to the board) to be able to gear up to a proper minimal-ish release.

I'll see if I can speed this up a bit. Let me know your timeline as well (if there is one), it might help shape mine.

[2017-01-13 10:13] frank984 opened #19 "Ladybug 3D chart: adjust some details"
Hello.

1) If the series of hourly data is not a multiple value of 24 hours, the horizontal lines of the graph curves are truncate to the previous full day. It could be better if the line completely fills the graph.

2) If I use the LBHeader and I define the unit, for example [°C], in the header I found something like this: ([°C]). If I exclude the square brackets and then in the unit I input only

[2017-03-28 20:28] sariths opened #20 "Fix links broken due to name change"
@mostaphaRoudsari All the links that were broken for the API doc due to the name change need to be updated. Case in point: http://ladybug-analysis-tools.github.io/ladybug/doc/

[2017-03-29 00:01] mostaphaRoudsari commented on #19
Hi @frank984, Thanks for posting this issue and sorry that I didn't reply to this sooner. You should post this issue to https://github.com/mostaphaRoudsari/ladybug/issues as this is related to the legacy ladybug for Grasshopper.

[2017-03-29 00:01] #19 closed

[2017-03-29 00:02] #20 closed

[2017-04-04 20:34] mdengusiak opened #21 "ladybug/comfort/psychrometrics"
@mostaphaRoudsari
@chriswmackey

I am back on Psychrometric...this is great node but I am missing outputs to make it Amazing :)

http://comfort.cbe.berkeley.edu/
but I am missing output data, so for selected points from the chart I can get full psychrometric data..
that I can extract:

Can we add output that will output for all those points all data?
The dry-bulb temperature
Relative humidity
The

[2017-04-11 00:39] chriswmackey commented on #21
@mdengusiak ,

If there is room on the component, we can build these outputs into the new psych chart but I just wanted to point out that you can get this info right now by using the "Ladybug_Humidity Ratio Calculator" and "Ladybug_Wet Bulb Temp" components in combination with the psych chart.

As far as an MEP sizing tool is concerned, I always use the EnergyPlus/OpenStudio atuosize results with

[2017-05-01 21:18] mdengusiak opened #22 "Total Radiation,Windrose are not the same size with same settings"
Hi,

I am setting up some template and total radiation
I set up scale  and apply legend to get same min and max
I am trying to get unified text size in legend but with wind rose using 0.17 and with radiation 0.7,
Maybe could be scope to get one scale factor across all components.
Idea is when we type one scale we achieve same standard test across all components.
Any idea why I can not unified size

[2017-06-12 20:56] mdengusiak commented on #22
I am using separate component so each graph just show one set of data and is not connect to other data. So in fact it is correct. I can use scale but there each time I have to adjust each graph.
Maybe could be interesting idea that we can connect few components together and somehow re-use scale or size value... to fix sizes?

[2017-06-12 21:13] mdengusiak opened #23 "Psychrometric Chart - Units?"
@chriswmackey
I currently you display Chart as Operative temperature - Humidity Ration,
should not be there Dry Bulb Temperature?

![image](https://user-images.githubusercontent.com/14005893/27055070-1d893e40-4fbb-11e7-8817-14cacd622421.png)

[2017-06-15 00:25] #11 closed

[2017-07-01 06:09] chriswmackey commented on #23
@mdengusiak ,

Sorry for the late reply.  You should post questions on the current (legacy) version of Ladybug to this github repo:
https://github.com/mostaphaRoudsari/ladybug

"Operative Temperature" just refers to the method used to generate the thermal comfort polygon.  If you plug in a value for MRT into the psych chart component, it will display as dry bulb temperature (instead of assuming th

[2017-07-01 06:09] #23 closed

[2017-07-12 14:37] SebasOrozco opened #25 ""No module named OS" ERROR producing null outputs"
Hi everybody. Thank you _chriswmackey_ for redirecting me here.
My original question/issue is as follows:

I´m just starting to try out Ladybug on Dynamo, for preliminary environmental analysis, but came across what must be a really simple/naive mistake... I hope
For some reason I´m getting null outputs from every node when running the basic sample files.
I´ve tried several DYN/LB versions and com

[2017-07-13 20:00] mostaphaRoudsari commented on #25
Hi @SebasOrozco, Do you have IronPython installed on your machine? Can you tell me where is it installed if it is?

Also not to confuse you more but this issue which is related to ladybug-dynamo should be posted [here](https://github.com/ladybug-tools/ladybug-dynamo).

[2017-07-17 16:06] SebasOrozco commented on #25
Hi @mostaphaRoudsari, thanks for your reply!
Apparently I had IronPython 2.7.3 runing already when the first null results came up... I´ve updated to 2.7.7 now, but still no luck... The Analysis Period node, keeps giving me null "analysisPeriod" output.
![capture](https://user-images.githubusercontent.com/29990157/28277489-5ac929c8-6ad7-11e7-9fee-a48187602be2.PNG)
I´m using Dynamo 1.3.0.875, along

[2017-07-17 16:50] mostaphaRoudsari commented on #25
Hi @SebasOrozco,

A good way to debug this issue is to take the python component from inside the custom node and try to run it inside the dynamo. That way we can see the errors.

The error can be because of any of this:
1. Python node cannot find the python installation on your machine.
2. Python node cannot find ladybug package.

We can continue this discussion on the forum. Thanks.

[2017-07-17 16:50] #25 closed

[2017-07-26 02:45] mostaphaRoudsari commented on #22
Hi @mdengusiak, this issue should be posted under the [legacy version repository](https://github.com/mostaphaRoudsari/ladybug). Also if I'm not mistaken this is already resolved for wind rose using maximum frequency input.

![image](https://user-images.githubusercontent.com/2915573/28602225-cefa540c-718a-11e7-86df-f30b4c3d9ef6.png)

[2017-07-26 02:45] #22 closed

[2017-07-28 18:56] #10 closed

[2017-07-28 22:31] mostaphaRoudsari opened #28 "add legend units to legend parameters"
and maybe the analysis name

[2017-07-30 14:38] sariths opened #29 "Epw header omits out location data"
Hi @mostaphaRoudsari , due to the use of generator patterns the first line of the existing epw file does not get written into the new (saved) epw file. The culprit is here : https://github.com/ladybug-tools/ladybug/blob/master/ladybug/epw.py#L68-L94 . When you do the first `epw.readline()` on [line 69](https://github.com/ladybug-tools/ladybug/blob/master/ladybug/epw.py#L68-L94), that first line wi

[2017-07-30 16:13] mostaphaRoudsari commented on #29
@sariths this is a bug. thanks.

Now that I see this again I should have read all the header first and then get the location out of it. That would have avoid this issue.

[2017-10-09 12:51] mostaphaRoudsari opened #31 "Refine Sunpath code"
[Ladybug legacy Sunpath](https://github.com/mostaphaRoudsari/ladybug/blob/master/src/Ladybug_SunPath.py) gives slightly different results than [NOAA solar calculator](https://www.esrl.noaa.gov/gmd/grad/solcalc/).

I made a number of adjustments in order to fix the difference in Ladybug[+] but I ended up making it worse. The source code is available [here](https://github.com/ladybug-tools/ladybug/b

[2017-10-09 18:02] mostaphaRoudsari commented on #29
Fixed by @sariths

[2017-10-09 18:02] #29 closed

[2017-10-23 23:00] ParametricMonkey commented on #31
@mostaphaRoudsari @devngc any luck with this?

[2017-10-30 10:52] devngc commented on #31
@ParametricMonkey ,
Apologies for the delay. I just saw this. I will update here as soon as I fix this.

[2017-11-09 01:16] #31 closed

[2017-11-16 01:44] mostaphaRoudsari opened #33 "sunpath sunrise and sunset calculator"
@devngc,

I updated the code in pep8 branch based on your modifications for sunpath and it passes [the tests for sun position](https://github.com/ladybug-tools/ladybug/blob/93daf858ea26ab13cb0ece123578b77fb15f486c/tests/sunpath_test.py#L28-L42). At the same time the `calculate_sunrise_sunset` is now giving incorrect values for sunrise and sunset. The noon is correct. It's probably because of a deg

[2017-11-16 19:11] mostaphaRoudsari opened #34 "implement methods to find epw files"
See this: http://discourse.ladybug.tools/t/drop-down-lists-for-weather-file-urls/2229

[2017-12-12 04:31] ParametricMonkey commented on #31
@mostaphaRoudsari This issue has been closed but has it been implemented into Dynamo yet? I'm on the latest version 0.1.9.

[2018-02-02 12:34] AntoineDao opened #38 "Add wea to and from json method"
I'm currently working on pushing honeybee core library to have to and from json methods for all daylighting recipes. As such there is a need to create a to_json() and from_json() method to the wea objects.

[2018-02-06 00:07] ParametricMonkey commented on #31
@mostaphaRoudsari how did you go with the internal deadline?

[2018-02-07 20:44] mostaphaRoudsari commented on #31
@ParametricMonkey! Sorry for the delay. I'm writing the release notes right now! Expect it out in a day or two.
![image](https://user-images.githubusercontent.com/2915573/35940589-ac44e0de-0c1d-11e8-807e-ff53d28814bf.png)

[2018-02-15 19:38] devngc opened #39 "Weather data headers"
Hi @mostaphaRoudsari,

In Ladybug[+], the LadybuPlus_Import EPW component outputs hourly values of weather data and the header is missing. In legacy plugins, this header is used to identify annualHourlyData_ in components like sun path or wind rose. I am sure you have some different idea about doing this in the core library. Can you please share your thoughts on this?

The way I see it, we need to

[2018-02-15 19:45] devngc commented on #28
On wind rose, I will have an input for legendPar_. At that point, I believe, I will have to address this. Therefore, assigned to myself.

[2018-02-16 18:15] mostaphaRoudsari commented on #39
Hi @devngc,

To answer this question we should first separate the discussion for the core python library and the Grasshopper plugin. Grasshopper plugin has its own challenges that we can address later in its own context.

In Ladybug EPW class returns a [DataCollection](https://github.com/ladybug-tools/ladybug/blob/cc40c6d601b3f74f6283913f2517448bf4ddc676/ladybug/datacollection.py#L10) for each dat

[2018-02-21 18:04] devngc commented on #39
Thank you @mostaphaRoudsari for demonstrating this. I realized this when I tried to use the output of Ladybug_ImportEPW component. Instead of values, it contains [DataPoint](https://github.com/ladybug-tools/ladybug/blob/cc40c6d601b3f74f6283913f2517448bf4ddc676/ladybug/datatype.py#L233) objects.

[2018-02-21 18:04] #39 closed

[2018-02-21 20:08] devngc opened #41 "Realtime loading of files from scripts directory"
Hi @mostaphaRoudsari,
Every time I make a change to a .py that I use in a grasshopper component, I need to restart rhino for the updated file to load correctly. Is there a way around this? Not having to restart GH and Rhino everytime a change is made in the file would be great!

[2018-02-22 00:28] saeranv commented on #41
@devngc
One method that works is to use the grasshopper "Read File" component to synchronize a file in a defined file path to your ghPython component. That way every time you save your .py file, your grasshopper component will automatically update. This is how I usually code in grasshopper, although am curious how others deal with this.

Approximately halfway through this blog there's a detailed e

[2018-02-22 01:01] mostaphaRoudsari commented on #41
Hi @devngc, I assume you're referring to loading it as part of a the ladybug module.

My first suggestion is not to use Grasshopper for testing unless you're working on the development for the plugin. For core development you don't need Grasshopper for testing. Just use the editor. It's faster, easier and helps you think outside the limitations of Grasshopper.

But when you have to do it in Grassh

[2018-03-09 14:36] AntoineDao commented on #38
Solved here 046fbebdc53ca51efc2b5988da6d14ceca33a37c by @mostaphaRoudsari . Thanks for that!

[2018-03-09 14:36] #38 closed

[2018-03-10 18:44] devngc commented on #41
Thank you @mostaphaRoudsar for sharing this.
While I get what you're doing here. It didn't work at my end. The path to github directory gets added to the list of system path. But rhino still refers to the scripts directory in my case.
 I will keep looking. Thank you again!

[2018-03-10 19:33] devngc commented on #41
To anyone reading this in future, please make sure that you add path to the **github repo**  to system path and not the path to the ladybug directory inside the repo. @mostaphaRoudsari 's suggestion worked.
Thanks a lot! This is a huge help!

[2018-03-10 19:33] #41 closed

[2018-03-10 19:36] devngc commented on #41
@saeranv,
Thank you so much for sharing. Till now I have coded inside the ghPython component in Grasshopper while making all contributions to legacy plugins. What you suggested could be a huge help for me. Thanks a lot!

[2018-06-27 22:38] AntoineDao opened #50 "Bug: epw.py if call epw.import_data() twice the import looks all wrong"
This is a minor bug I noticed while writing tests for ladybug: if I call import_data twice on the EPW object then the imported data looks all wrong. I realise this is a total edge case so don't expect it to be fixed urgently but maybe worth having a look at a fix?
![image](https://user-images.githubusercontent.com/20436635/42003370-095d9f82-7a63-11e8-8c6d-bbf77d72c4f8.png)
![image](https://user-im

[2018-06-29 13:57] mostaphaRoudsari commented on #50
@AntoineDao thank you for reporting this.

[2018-07-06 17:47] #50 closed

[2018-07-11 09:29] sariths opened #59 "There is no euclid support for Python 3."
@mostaphaRoudsari , @chriswmackey

The library crashes if you try to import sunpath in Python 3, as there is currently [no "euclid3" in the repo](https://github.com/ladybug-tools/ladybug/blob/master/ladybug/sunpath.py#L8-L11).

I fixed the issue in my fork by adding and renaming the file: https://github.com/sariths/ladybug/commit/c60f28cab5dd8b132e5c5533d9e5a696f868811e

I can send a PR if needed.

[2018-07-11 13:06] mostaphaRoudsari commented on #59
Try `pip install euclid3` for Python 3 and you will have it.

[2018-07-12 06:06] saeranv commented on #59
And I think we should be updating the setup.py file to reflect these dependencies: https://github.com/ladybug-tools/ladybug/blob/master/setup.py

For Python 2, it should be as simple as adding euclid:
install_requires=[
          'euclid',
      ],

And there must be a way to differentiate dependencies based on Python versions.

[2018-07-19 03:33] PNTheBao opened #64 "Ladybug doesn't work on dynamo 2.0 ??"
Hello! Ladybug doesn't work on dynamo 2.0! what is the problem? I've checked the installed folder as follow the solution at previous topic : C:\Users\UserName\AppData\Roaming\Dynamo\Dynamo Revit\2.0\packages
Please advise. Thank you.
![ladybug 01](https://user-images.githubusercontent.com/41409560/42919903-ba3bdd48-8b46-11e8-8736-a6c73b81f5c1.PNG)
![ladybug 02](https://user-images.githubuserconten

[2018-07-27 12:36] chriswmackey commented on #64
@PNTheBao and @JoshuaC-STN ,
I'll try to take a look at this today.

To narrow down the possible issues, can you confirm that this issue affects all components in both Ladybug and Honeybee?

[2018-07-28 09:41] PNTheBao commented on #64
@chriswmackey Yes, same issue to Butterfly and Honeybee.
![issue 2](https://user-images.githubusercontent.com/41409560/43355346-39d9f808-928d-11e8-8119-a87849c4fd2f.JPG)

[2018-08-06 16:29] mostaphaRoudsari commented on #64
This is because the path structure for packages has slightly changed in Dynamo 2. This is a low-hanging fruit but installing Dynamo 2.0 is what has stopped me from addressing this issue.

[2018-08-06 16:56] mostaphaRoudsari opened #65 "Short timestep calculation for wea (Daysim vs Ladybug)"
I used Daysim 3 to generate a number of wea files with short timesteps and it turns out that Daysim even for timesteps smaller than 1 hour offsets the values by 30 minutes. I'm not sure why this is the case here and it won't also match EnergyPlus timesteps.

This  is the results for every 10 minute:
01 Jan 00:35
01 Jan 00:45
01 Jan 00:55
01 Jan 01:05
01 Jan 01:15
01 Jan 01:25
01 Jan 01:35
01 Jan 0

[2018-08-07 09:46] PNTheBao commented on #64
So how we solve this issue, waiting the next version ?

[2018-08-09 19:25] #64 closed

[2018-08-09 19:26] mostaphaRoudsari commented on #64
I just released a new version for all ladybug tools plugins for Dynamo which should address this issue.

[2018-11-05 21:14] #59 closed

[2018-11-05 21:34] mostaphaRoudsari opened #78 "Add parsing for epw header"
Except for the location data we currently parse the header only as a single string. The header information should be broken down and be accessible via EPW class.

[2018-11-05 21:58] mostaphaRoudsari opened #79 "Add UTCI calculation"
Once we have UTCI it would be the right time to update epwmap.

[2018-11-06 09:42] sariths opened #80 "Iron-Python-check and stricter versioning for dependencies"
Hi @mostaphaRoudsari , @chriswmackey  and @AntoineDao ,

Since dependencies are now being added through setup.py,  a few suggestions:
* Since IronPython 2.x is an incomplete port of Python 2.x, it might save some headaches later if there is some of testing to see if the dependency is not using some of the fancier features of Python 2 (xml is one of the modules that comes to mind).

* I highly reco

[2018-11-06 09:52] AntoineDao commented on #80
From my understanding we should be able to add IronPython as a tested environment in Travis. So we would test IronPython, Python 2.7 and Python 3.6.

Also with regards to dependency versioning I absolutely agree! Is `euclid3==0.0.1` the correct version to use? If so I'll PR IronPython test support + euclid version check.

[2018-11-06 12:44] sariths commented on #80
0.1 should be the version that is installed through `pip`. I just checked using `pip freeze`
![image](https://user-images.githubusercontent.com/10361848/48065067-f29f4380-e1c9-11e8-9f80-8b4ac368c759.png)
I couldn't find the source code on the pypi webpage for euclid3

[2018-11-07 03:39] mostaphaRoudsari commented on #80
![image](https://user-images.githubusercontent.com/2915573/48109294-f5b63480-e29a-11e8-8a54-c42b2e37f437.png)

[2018-11-07 12:00] sariths commented on #80
@sariths I know.  But just doing `pip install euclid3` installs euclid3==0.1 on my system (as the `pip freeze `screenshot shows). I think there is a versioning mismatch somewhere. There is a repo on github for euclid3, however, that doesn't appear to be really active at the moment.

[2018-11-07 12:32] AntoineDao commented on #80
Should we just add euclid manually to ladybug? Or wait for [ladybug-geometry](https://github.com/ladybug-tools/ladybug-geometry) to become a thing?

[2018-11-07 15:12] AntoineDao commented on #80
If discussion version control etc.. then a mix of `requirements.txt` with versioned packages (eg: euclid3==0.1) and deploying ladybug-tools with [version management](https://discourse.ladybug.tools/t/semantic-releases/4159) should do the trick. I'm not worried about euclid3 as the last release was in 2014 and the package is minuscule but it's a good habit to get into!

As for IronPython @mostaphaR

[2018-11-07 16:08] sariths commented on #80
For me it is usually trial and error. A year ago, we had this idea of implementing a BSDF viewer inside Rhino and that time I found xml wasnt completely ported. That apparently is the case for some other libraries.. https://stackoverflow.com/a/6855252 . I am not sure if there is a definitive list somewhere.

[2018-11-07 22:57] mostaphaRoudsari commented on #80
What about running the tests for IronPython locally?

We set up a half-backed Grasshopper based testing for components at some point which can also be used for this purpose.

I see that @AntoineDao has send a PR to get the versioning fixed. The main reason that I didn't put the version was the fact that:

1. `euclid3` is not an actively developed project and won't be updated any time soon.
2. it w

[2018-11-07 23:11] #80 closed

[2018-11-07 23:58] AntoineDao commented on #80
I reckon there is a strong enough community of people using ladybug tools on Windows to ensure testing IronPython locally and in the right environment. But you'll have to excuse me if I don't notice incompatibilities from the luxury of my Linux machine :p

[2018-11-08 00:10] mostaphaRoudsari commented on #80
You lucky [...]! :)

[2018-11-09 06:50] chriswmackey commented on #80
I just wanted to say that we are only using euclid right now for vector math and putting the vector math in ladybug-geometry is pretty straightforward. It's just a matter of taking the parts of euclid that are needed for vector math and making them compatible in both Python 2 and Python 3.  So I think we should be able to get rid of this euclid dependency fairly soon.

[2018-11-09 12:02] chriswmackey opened #82 "Refactor the DataCollection Class into Several Sub-Classes"
Data collection structure proposal:
![planfordatacollections](https://user-images.githubusercontent.com/5567574/48262254-dc72cc80-e3ef-11e8-8423-45901740f4ac.jpg)

[2018-11-09 12:06] chriswmackey opened #83 "Add setters to the EPW object"
The EPW object in Ladybug core does not support the creation of EPW objects from raw data.  Adding setters on the EPW object will go a long way towards enabling these workflows.

[2018-11-09 12:09] chriswmackey opened #84 "Add an EPW classmethod for creating a missing value EPW"
Most of the EPW fields have missing values and so it should be possible to initialize an EPW object that is completely empty and then set the data that I have on the EPW object.
This will support workflows for the creation of EPW objects from raw data.

[2018-11-09 12:11] chriswmackey commented on #82
While I am doing this, I also should separate out the type objects so that each datacollection has only one type object.  In other words, datacollections will only contain data that is all the same type.

This will greatly reduce that size and memory taken up by datacollection objects.

[2018-11-09 12:11] AntoineDao commented on #82
Got two questions for you about this:

1. Not sure I fully understand the difference between hourly collections and cumulative collections. ie: what is the difference between `monthly annual` and `monthly`?

2. Will the data collection data-points still hold a lot of individual data (specific type, name, metric unit, datetime etc...) or will the role of collection be to hold this sort of metadata?

[2018-11-09 12:19] chriswmackey commented on #82
No worries, @AntoineDao .  We're basically using github like a chatting app :)

I will say that there are a lot of things that are not totally worked out yet (especially the naming conventions).  I am just posting how far @mostaphaRoudsari and I have gotten in discussing this so that we have record.

To explain the difference between `monthly hourly` and `monthly`, `monthly hourly` is a data colle

[2018-11-09 12:29] chriswmackey commented on #79
As a note to myself, I want to make sure that I implement this in a way that we can actually account for the air pressure of the site (and the elevation above sea level).  The UTCI polynomial equation is written in terms of partial vapor pressure and allows us to account for this so we should expose this and we should definitely make sure that it is exposed on the `epw.utci` property.

[2018-11-13 06:03] chriswmackey opened #85 "Move all test epws, stats, etc. into a fixtures folder"
@AntoineDao has made me aware of this good practice on [the dragonfly repo](https://github.com/ladybug-tools/dragonfly/tree/master/tests/fixtures) and I think that we should do the same now that we have many different types of test files.

[2018-11-13 12:49] ocni-dtu commented on #85
Actually it is good/common practice to place your fixtures in the conftest.py. That way pytest will automatically import them and you don't need any import statements for fixtures

[2018-11-13 12:52] ocni-dtu commented on #85
See fx. this [sample](https://github.com/ocni-dtu/BO-Pytest/tree/master/ch3/c/tasks_proj/tests) I have from Brian Okken book about Pytest

[2018-11-13 13:50] ocni-dtu commented on #85
Yeah, the point of fixtures are to reuse code and reduce boilerplates. Here is how I like to do my test setup:

[code]
[code]
[code]

So in this way can reuse alot of code, by having fixtures in fixtures and using fixtures parameters.
I can let pytest do the fixture imports

[2018-11-13 17:32] AntoineDao commented on #85
Man that's much cleaner... I'll probs refractor Dragonfly to fit that pattern too.

[2018-11-14 08:50] chriswmackey commented on #85
Thank you for the suggestion @ocni-dtu .  I can see why it makes sense to put fixtures in the conftest.py folder and the elegance of it.

I agree that we should move the fixtures into conftest.py for dragonfly.  @AntoineDao , if you want to take a stab at this within the next week or two, I shouldn't be touching the tests folder there.

For the specific issue that I opened here on the ladybug repo

[2018-11-14 15:22] ocni-dtu commented on #85
Okay, I see it is a bit different issue you are talking about @chriswmackey
Fixtures is also often used for test data. What I normally do is:

[code]

That way I don't need to specify the path to the test data folder more than once and I can use fixtures to input test data to my tests.

[2018-12-22 13:37] chriswmackey commented on #84
I just realized that the better way to set this up is to make an EPW object with missing values for each data_type (rather than blank values).

[2018-12-22 14:10] chriswmackey opened #100 "Create an hourlyplot module"
I'm just posting this topic because I did 15 minutes of research into it and I want to have a record of what I found (we still have some time before I implement a "3D chart" in the Ladybug core).  For anyone reading this issue, pleas post any thoughts here as I would really like feedback before doing this implementation.

One thing that I know @mostaphaRoudsari and I agree upon is that "3D Chart"

[2019-01-18 14:31] mostaphaRoudsari commented on #100
I vote for "Temporal plot"

[2019-02-01 20:34] mostaphaRoudsari opened #109 "Analysis input check will fail for 0 value"
https://github.com/ladybug-tools/ladybug/blob/f35d7dc0b4c83d9ed8a6d2f3fb49b216b1c357a8/ladybug/analysisperiod.py#L69

Thanks @AntonelloDN for reporting this issue.

[2019-03-03 00:08] mostaphaRoudsari commented on #78
@chriswmackey should we close this?

[2019-03-03 00:11] mostaphaRoudsari commented on #82
@chriswmackey, I think we can also close this one. It would be good if you can take a look at the open issues and close the ones that are already addressed with your PR.

[2019-03-03 00:12] mostaphaRoudsari commented on #79
I'm going to transfer this to `ladybug-comfort` repository.

[2019-03-03 00:16] mostaphaRoudsari commented on #65
I think we can close this for now. I'm going with the EnergyPlus path as the Daysim approach is super random. If one wants to use Daysim approach they can generate the wea file from Daysim and then use `WEA.from_file` method to create a `WEA` object. ☮️

[2019-03-03 00:16] #65 closed

[2019-03-03 00:56] chriswmackey commented on #84
This has been implemented via https://github.com/ladybug-tools/ladybug/pull/110 !

[2019-03-03 00:56] #84 closed

[2019-03-03 00:58] chriswmackey commented on #83
It is now possible to set the values of different data streams using the following method:

[2019-03-03 00:58] #83 closed

[2019-03-03 01:05] chriswmackey commented on #82
This has been addressed via https://github.com/ladybug-tools/ladybug/pull/110

And the final inheritance tree that I drew at the top of this issue looks much better in its final form as ASCII art:
https://github.com/ladybug-tools/ladybug/blob/master/ladybug/datacollection.py#L4-L14

[2019-03-03 01:05] #82 closed

[2019-03-03 01:05] chriswmackey commented on #78
This was done as part of https://github.com/ladybug-tools/ladybug/pull/110

So, yes, we should close this!

[2019-03-03 01:05] #78 closed

[2019-03-03 01:11] chriswmackey commented on #28
I aim imagining that this will now mostly be taken care of thanks to the datatype module objects that store all of the units.  Let me know if you are thinking about this differently, @mostaphaRoudsari (like if you think people would want to change the display of the units even though the units in the background are unchanged).  Needless to say, I think we all probably feel there are a bunch of imp

[2019-03-03 01:32] mostaphaRoudsari commented on #28
Mostly yes but it is a slightly different issue. `datatype` will be helpful to make the value conversion easier and so on but this issue is trying to _where_ is the right place to input that change rather than _how_ to make the change.

Based on what I wrote at the time I thought it should be part of the legend parameters class but now we can think of other solutions to address this using DataColl

[2019-03-03 10:10] AntoineDao commented on #82
---------------------
< Beautiful Ascii Art >
 ---------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||

[2019-03-05 17:54] #109 closed

[2019-03-08 19:12] chriswmackey opened #118 "Get Rid of min_epw and max_epw Properties from DataTypes?"
I have been seriously considering getting rid of the `_max_epw `and `_min_epw `properties for a number of reasons:

- Though these min and max values are written into the EPW documentation, they do not seem to be enforced anywhere.  EnergyPlus still runs fine with many of these limits exceeded in its input EPWs.
- Nearly every EPW throughout the DoE and OneBuilding databases violates at least one

[2019-03-08 20:41] mostaphaRoudsari commented on #118
I agree with removing them from datatypes but I think we should have them in epw_fields so in the future we validate epw files. True that no one cares at this point but that doesn't mean that we should let it go.

I can think of writing scripts (probably outside of the core library) that one can use for validating and fixing the epw files.

python epw-validate  <epw file>
&
python epw-fix <epw-fil

[2019-03-08 22:53] chriswmackey commented on #118
@mostaphaRoudsari ,
Ok, I will move everything to epw fields object for now and I should not have moved them out originally.

My point about the min and max values in the epw documentation, though, is that they are arbitrary and attempts to "fix" epw files will make them incorrect.  As the simplest example, nearly all climate files of Antarctica will be invalid if temperatures below -70C are not p

[2019-03-09 02:14] chriswmackey commented on #118
Ok. I have put together a PR that adds everything related to the EPW back to the EPW object and takes it out of the datatype module:
https://github.com/ladybug-tools/ladybug/pull/119

[2019-03-09 21:33] mostaphaRoudsari commented on #118
I hear you. We can have a discussion about this with people in charge and try to change the epw specifications if needed.

[2019-03-10 15:33] chriswmackey commented on #118
Understood.  I am closing out this issue now that we have merged in the PR.

[2019-03-10 15:33] #118 closed

[2019-03-18 14:46] mostaphaRoudsari opened #125 "Deploy never gets to automated documentantion"
The semantic release publication triggers a new built and that's the end of the build!

@AntoineDao has some ideas on how this can get fixed!

[2019-03-20 13:58] mostaphaRoudsari commented on #125
The issue is still there but for a different reason: https://travis-ci.org/ladybug-tools/ladybug/jobs/508786436

We currently have a similar issue for Honeybee too.

[2019-03-21 00:14] #125 closed

[2019-03-29 08:58] AntoineDao opened #129 "Ensure documentation is not overwritten by empty"
As per https://github.com/ladybug-tools/ladybug/pull/128 we are having issues with empty docs being generated.

[2019-04-15 21:14] dradair opened #131 "Ladybug-Psychrometric Chart Enthalpy Units"
Have searched but not been able to find anyone asking about the IP units for enthalpy on the LB_Psychrometric Chart object. In the code the unit conversion appears correct / agrees with ASHRAE ( def kJkg2BTUlb(enthalpy): ).
The issue is on the plot of the data the enthalpy units appear to be off by ~7-9 btu/lb when compared to standard charts. See attached image. At 45F and saturation, the enthalp

[2019-05-01 14:50] chriswmackey commented on #131
@dradair ,

This is likely not the right repository for this issue. If you are hoping to get something fixed in the legacy ladybug, you should be posting to [this repository for legacy ladybug](https://github.com/mostaphaRoudsari/ladybug).

If you are posting about how we can better calculate enthalpy in the new version of ladybug that is currently being developed, issues about the psychrometric c

[2019-05-01 15:33] dradair commented on #131
@chriswmackey Sorry for confusion if I'm on the wrong repository; new to this. Based on the options you provided, and the core issue, it seems like if should live here rather than the comfort tool or new LadyBug. It will impact those other developments as well, but this appears to be a central issue. Am happy to move if this is not the right place; let me know.

The core issue is that the IP Psych

[2019-05-02 04:27] ayezioro opened #140 "Stat file contains no optical data."
Hi,
Some of the weather files for my location are failing on the TauClearSky component WEA). The error says:
`1. Solution exception:Stat file contains no optical data.`
Some other files are ok.
Something i can do?

Thanks,
-A.

[2019-05-02 13:24] mostaphaRoudsari commented on #140
Hi Abraham (@ayezioro), while we are waiting for @chriswmackey's comprehensive response here is my 2 cents.

There is an alternative method (and a GH component) that uses ASHRAE's clear sky formula to generate the WEA file for locations that don't have the Tau values.

https://github.com/ladybug-tools/ladybug/blob/0caefbfa26195faba6bdedb242195f56eae1d770/ladybug/wea.py#L303

[2019-05-02 16:48] chriswmackey commented on #140
@ayezioro ,

@mostaphaRoudsari 's is the correct way to go. There is a simpler clear sky model if there are no aerosol optical depths in the .stat file for a given location.  And there is already a component that uses the API method that @mostaphaRoudsari pointed to:
![image](https://user-images.githubusercontent.com/5567574/57091902-35088f80-6cd8-11e9-9d5d-340a7bda6dff.png)

https://drive.google.

[2019-05-02 16:48] #140 closed

[2019-05-02 21:39] chriswmackey commented on #131
@dradair ,

Thank you for the useful reference.   The formulas in that python library are very well documented and I want to take a closer look at them.  I see that the assumptions for some of the constants in the library are slightly different than ours.

For example, here is their code to calculate enthalpy from humidity ratio and dry bulb:
https://github.com/psychrometrics/psychrolib/blob/maste

[2019-05-02 21:43] chriswmackey commented on #131
Also, I will add that this actually is the best repo to have posed this question to.  The other ones I listed might deal directly with the psychrometric chart but this issue is more about the underlying calculation method for enthalpy than it is about the visualization of the psych chart.

[2019-05-02 22:06] chriswmackey commented on #131
Ok. I think I have found out what is going on.  The two formulas for calculating enthaply actually agree with one another very well (even though the constants are ever-so-slightly different).  The real reason for the discrepancy is that, apparently, there are very different definitions for a psychrometric enthalpy of 0 depending on whether you are in SI or IP

I realized that this formula in the p

[2019-05-03 03:30] ayezioro commented on #140
Thank you both!!
-A.

[2019-05-03 19:17] dradair commented on #131
@chriswmackey  Thank you for digging into this. I can confirm that the ASHRAE-IP uses 0F and 0 humidity ratio as the start point for their enthalpy scale. Sorry I could jump in to confirm this earlier.

The bigger question of does it impact workflows? Depends.
In terms of enthalpy deltas, for load calculations, those are probably fine (unconfirmed).
In terms of absolutes, it matters far more. If o

[2019-05-03 19:28] dradair commented on #131
note- i dont necessarily like pointing out an issue/potential issue and not being able to help with some type of solution. I do not feel confident enough in my programming abilities to fork and guarantee any type of fix. Attempt? maybe. but 'for sure'...no. Rookie here in python world.

[2019-05-03 21:30] chriswmackey commented on #131
@dradair ,

I can confirm for you that having the enthalpy start from 32F it will not affect calculations of enthalpy deltas since the SI and IP forms of the equations are the same.  The fact that our coefficients are slightly different than ASHRAE's could cause some very minor differences but these are not significant.

You have a good case for making a change with the fact that 90.1 giving limit

[2019-05-13 13:45] dradair commented on #131
@chriswmackey ; sorry for delay. This has become a topic of discussion within our mechanical technical leadership with this finding. One found a/the resource explaining  it in "Understanding Psychrometrics" by Gatley. Have pasted the extracted section dealing with this SI-IP conversion and warnings associated with the conversion.

I'll play with coding & offset to see what makes the most sense for

[2019-06-05 19:25] chriswmackey commented on #131
@dradair ,

Sorry for an even longer delay.  I just wanted to let you know that I have built the option into the ladybug core library to specify the reference temperature for enthalpy calculations:
https://github.com/chriswmackey/ladybug/blob/development/ladybug/psychrometrics.py#L72-L82

This will allow us to produce the IP type of enthalpy that you have noted here.

[2019-06-07 13:15] mostaphaRoudsari commented on #28
@chriswmackey I think you can close this one after you merge the latest changes.

[2019-06-07 21:08] VanessaTavares opened #145 "Ladybug error message even in the sample files"
Hi,
I get the following error even when I run the ladybug in the sample file.

ERROR:
invalid literal for float (): DynamoForRevit

Traceback (most recent call last):
File "<string>", line 55, in <module>
File "<string>", line 18, in tryGetPluginPath
ValueError: invalid literal for float (): DynamoForRevit

![2](https://user-images.githubusercontent.com/51326350/59133643-acb88280-8946-11e9-953e-74

[2019-06-08 15:03] chriswmackey commented on #28
Good idea. Closed!

[2019-06-08 15:03] #28 closed

[2019-06-08 15:05] chriswmackey commented on #131
Also, @dradair , that psychrometric python library was extremely helpful.  In the past, we were using psychrometric formulas from a bunch of different sources but I can now say that all of the psychrometric functions in the new ladybug core are using the most accurate versions of the ASHRAE 2017 Handbook formulas.

[2019-06-08 15:15] chriswmackey commented on #145
@VanessaTavares ,

Energy modeling capabilities are not currently supported by Honeybee[+] (we are currently developing them now). Also, the most recent versions of Dynamo have broken the Honeybee[+] plugin for dynamo, which might be the error that you are expereincing here.  If you install a version of Dynamo from 2018, you might be able to get it to work but, if you need energy modeling capabili

[2019-06-08 15:15] #145 closed

[2019-06-18 08:10] AntoineDao opened #149 "PyPi deployment failed"
The latest PyPi deployment failed because of something in the long description section not rendering properly. Not sure how or why as it's worked in the past.

https://travis-ci.org/ladybug-tools/ladybug/jobs/546918735#L918

[2019-06-18 13:21] mostaphaRoudsari commented on #149
`The description failed to render in the default format of reStructuredText.`

This might be because the description is Markdown not reStructuredText which has been clarified here:

https://github.com/ladybug-tools/ladybug/blob/7e3d815ba71f9857708cb0afe1d0af7193459ff3/setup.py#L16

[2019-06-18 13:47] AntoineDao commented on #149
Can't see any difference in readme file or the dependencies that would lead to this error... https://github.com/ladybug-tools/ladybug/compare/v0.4.0...v0.4.2

Might be worth just running the markdown file through a converter and then dumping it as `.rst` rather than counting to twine/Pypi to sort it ou?

[2019-06-21 14:47] VanessaTavares commented on #145
Hi Chris,
Thank you very much for your response. My problem is that I want to generate geometries in dynamo (already doing it) and after run them in different locations automatically so I could have results of various volumes, with different orientation, window-to-wall ratios and in different sites. When do you think Honeybee will be available? What do you think I should do? I feel kinda lost!
Tha

[2019-06-21 21:28] #149 closed

[2019-06-21 21:36] mostaphaRoudsari commented on #149
... and finally the page is rendered correctly. We should make the same change to all the other repositories.

https://pypi.org/project/lbt-ladybug/

[2019-07-07 05:34] alexberd opened #152 "TotalSunlightHours description problem"
Dear Ladybug,

This is a documentation issue:
At the SunlightHoursAnalysis Tool, it is worth to mention that the totalSunlightHours result is per square meter. I spent few ours trying to investigate why this number is not the sum of the SunLightHoursResult.
Could you please update the SunlightHoursAnalysis description at the following page and also at the Grasshopper? Description should be "The av

[2019-07-25 18:08] mostaphaRoudsari commented on #152
@alexberd, Thank you for posting this issue but it should be posted to https://github.com/mostaphaRoudsari/ladybug/issues/

[2019-07-25 18:10] mostaphaRoudsari opened #153 "Update derivative work in README"
https://github.com/ladybug-tools/ladybug#derivative-work

We should remove pyeuclid and add ladybug-geometry instead. pyeuclid should be referenced in ladybug-geometry.

[2019-08-13 13:45] dradair commented on #131
So, rookie question....
how are these changes deployed or rolled out? Uninstall / reinstall ladybug does not appear have the enthalpy fix and the switch for reference temperature included? or do I need to track down 'psychrometrics.py' on my machine to correct?
how is this main ladybug/ladybug repo different than the one mostaphaRoudsari/ladybug where these fixes live?

[2019-08-19 13:20] mostaphaRoudsari commented on #129
This is addressed by @AntoineDao!

[2019-08-19 13:20] #129 closed

[2019-08-19 13:20] mostaphaRoudsari commented on #100
Should we transfer this to ladybug-grasshopper?

[2019-08-19 14:19] chriswmackey commented on #100
I don't think that's appropriate.  The place where we have to decide the name first is on the module level of laydubug (ie. sunpath.py, windrose.py, and hourlyplot.py).

Also, I am a fan of "temporal plot" but I am starting to think that "hourly plot" might be a bit better just because there will probably be other charts like a monthly bar chart defined by their time interval.  I say this even tho

[2019-08-19 20:44] chriswmackey commented on #131
@dradair ,
I understand the confusion.  This repo where you have posted this issue is for the new revision of ladybug that is currently WIP and does not yet have a psychrometric chart (just some simple psychrometric functions that will be used to make a chart in the coming months).  If you want to suggest a change to the legacy ladybug, which houses the majority of components that people are still

[2019-08-19 20:47] chriswmackey commented on #131
Also, given that the groundwork has been laid here on the new ladybug repo to produce the proposed IP enthalpy units, I am going to close out this issue.  We can continue further discussion on the legacy ladybug repo.

[2019-08-19 20:47] #131 closed

[2019-08-19 20:48] chriswmackey commented on #152
Given that roughly a month has passed and the issue has hopefully been added to the legacy repo, I am going to close this one out.

[2019-08-19 20:48] #152 closed

[2019-08-19 20:53] chriswmackey opened #157 "Add the `type` key to all dictionary versions of ladybug-core objects"
We realized while working on honeybee that it is very helpful to have a `type` key in the dictionary that is output by `to_dict`, which contains the name of the object class.  For example, a dictionary for AnalysisPeriod should look like:
[code]
We need to go through all of the `to_dict` methods in the library and add the `type` key.  If anyone wants to take this up, please feel free.  Otherwise,

[2019-08-19 20:55] chriswmackey opened #158 "Update several things in the formatting of the documentation"
Several changes need to be made to the documentation of this repo:
(check means we know how to fix them)

* Put any ASCII art in a .. code-block:: shell
* Put any dictionaries in from_dict methods in a .. code-block:: json
* Move all descriptions in `__init__` to be on the class itself.
* Get child classes to display documentation of their children
* Get the returns to display correctly (not bolde

[2019-09-19 01:49] ParametricMonkey commented on #31
@mostaphaRoudsari @devngc
I've been revisiting this and there still seems to be a discrepancy. Using Ladybug 0.2.1 in Dynamo with Revit 2018, I'v created views from the sun and then turned on shadows. There should be no shadows visible but it is slightly out.  Does this mean that Revit doesn't use NOAA or is there a bug in Ladybug?

![image](https://user-images.githubusercontent.com/10913639/65206

[2019-09-19 13:32] mostaphaRoudsari commented on #31
@ParametricMonkey does the location exactly match? Can you get the sun vectors from Revit? That is the only way to do a legit comparison between the two and NOAA algorithm. Also this might deserve a new issue or a question on the forum.

[2019-09-20 00:11] ParametricMonkey commented on #31
@mostaphaRoudsari

posted here: https://discourse.ladybug.tools/t/solar-vector-discrepancy/7220

[2019-10-02 19:31] polandar commented on #157
I've added a PR for this ^ as per contributing guidelines

[2019-10-05 01:23] Kiy4h commented on #158
May I work on this? I'll be asking questions though.

[2019-10-05 01:30] santiagogaray commented on #158
I actually have been working on it this week, I'm almost done with it.

[2019-10-05 01:35] Kiy4h commented on #158
Oh whoops, sorry! I'll try to look for something else :)

[2019-10-05 01:42] santiagogaray commented on #158
I'm sorry, my bad for not posting about it here!

[2019-10-07 08:01] parammittal16 opened #168 "Typo and grammatical mistakes in README file"
There are some grammatical issues in Readme file.
I want to correct them and work on this issue as of Hackoberfest.

[2019-10-07 08:04] parammittal16 commented on #168
@chriswmackey can we add hacktoberfest labels here?

[2019-10-07 19:51] #157 closed

[2019-10-08 01:54] sakkshm commented on #168
can I do it?

[2019-10-08 05:00] ParametricMonkey opened #172 "Analysis Period time step not working"
Hi

There appears to be an issue with the Analysis Period component in Dynamo. If the start and end hour are the same, the Time Step reverts to every hour regardless of the input.

![A](https://user-images.githubusercontent.com/10913639/66368531-55095100-e9e4-11e9-9d03-82e8e8f04458.PNG)

![B](https://user-images.githubusercontent.com/10913639/66368535-58044180-e9e4-11e9-8b64-49a94c8d5fe7.PNG)

Run

[2019-10-09 17:19] chriswmackey commented on #172
@ParametricMonkey ,

Thank you for reporting but this behavior is intentional. The `start_hour` and `end_hour` on the analysis period are meant to take out a slice of hours across the date range. This is what allows you to only look at the hours between 9AM and 5 PM for every day of the year, for example. So, when you go from 2AM to 2AM, 2:15AM is outside of that slice and so it does not belong.

[2019-10-09 17:19] #172 closed

[2019-10-09 19:09] devgupta2607 commented on #168
Can I take this issue ?

[2019-10-09 22:18] ParametricMonkey commented on #172
@chriswmackey

Thanks for your response. Maybe I wasn't clear in my question as I think this is still an issue and it should be re-open (which I'm not sure I can do?). It does tie in with DST but in any case this is a separate issue and I wouldn't classify it as a feature request.

In principal I understand how the time step works and understand that if the Start Hour and End Hour are the same the

[2019-10-09 22:36] AntoineDao commented on #168
Sorry @sakkshm and @devgupta2607 it seems @parammittal16 has already made a PR for this issue. If you're wanting to contribute and help us through hacktoberfest please check out our project board with all our [hacktoberfest issues](https://github.com/orgs/ladybug-tools/projects/2) and pick one from there. This hacktoberfest thing is not all about updating Readmes :stuck_out_tongue_winking_eye:

[2019-10-10 01:47] ParametricMonkey opened #177 "Solar vector discrepancy"
Further to this [issue](https://github.com/ladybug-tools/ladybug/issues/31#issuecomment-533132421) and the [forum post](https://discourse.ladybug.tools/t/solar-vector-discrepancy/7220), there appears to be a discrepancy between how Ladybug, Revit and NOAA calculate sun vectors.

In Revit you cannot specify a location by defining lat/long - you need to drag and drop a pin. So I am using the existin

[2019-10-10 04:33] chriswmackey commented on #172
@ParametricMonkey ,

I can confirm that this is definitely how we intended the `AnalysisPeriod` to behave. I'll admit that I might still not understand exactly what you are looking to achieve beyond the fact that what you are requesting does not seem to be a job for the `AnalysisPeriod`.

If what you want is some code that will give you a list of all datetimes at a certain timestep between two dat

[2019-10-10 04:37] chriswmackey commented on #177
@ParametricMonkey ,
One suggestion I have is to use 2016 for the year in Revit instead of 2019. This is what ladybug is using under the hood:
https://github.com/ladybug-tools/ladybug/blob/master/ladybug/dt.py#L37
If you still see shadows at that point, I have a feeling that it might well be a rounding error.

[2019-10-10 17:33] chriswmackey commented on #168
This one has been addressed and so I am closing it out. Please take a look at the hacktoberfest board that @AntoineDao linked to for all of the stuff we need help with.

[2019-10-10 17:33] #168 closed

[2019-10-10 17:34] chriswmackey commented on #153
This has been addressed.

[2019-10-10 17:34] #153 closed

[2019-10-10 17:36] chriswmackey commented on #158
Sorry I could have been clearer about assigning this issue to @santiagogaray . @Kiy4h , if you want to see everything that we need help on, check our [hacktoberfest board](https://github.com/orgs/ladybug-tools/projects/2)

[2019-10-10 17:37] chriswmackey commented on #85
I just wanted to clarify that this issue is now just about reorganizing the files we use in the tests to be in one folder (and updating the test files accordingly). So I think this is a good first issue for someone if they want to tackle it.

[2019-10-14 06:36] TomerPacific commented on #85
@chriswmackey , I'd like to help, if this issue is still relevant.

[2019-10-14 16:14] chriswmackey commented on #85
Yes, it's still relevant and it's really just a re-organization task of putting all of the folders with different files under one larger folder to make it cleaner (and updating the paths in the tests). IT's defintialy a good first issue if you want to tackle it.

[2019-10-14 18:23] chriswmackey commented on #158
Thanks again for addressing this one @santiagogaray .  This was a huge one!

[2019-10-14 18:23] #158 closed

[2019-10-15 00:49] ParametricMonkey commented on #177
@chriswmackey
I updated the sun settings in Revit to use the year 2016. Didn't make a difference so I guess it is a rounding error.
You don't happen to know which algorithm Revit is using under the hood to get its sun vectors?

[2019-10-15 14:57] imrishabh18 commented on #85
I am a beginner can i work on this ?

[2019-10-15 15:47] chriswmackey commented on #177
I can't say that I know anything about the Revit sun position algorithm. Maybe it's worth a post to one of the Autodesk forums?

[2019-10-15 21:58] chriswmackey commented on #85
This issue has already assigned to @TomerPacific . If we don't hear from @TomerPacific for a few days, then I can re-assign it to you, @imrishabh18 .

[2019-10-15 22:34] mostaphaRoudsari commented on #177
I think our approach should be to ensure ladybug calculation matches NREL's output.

@ParametricMonkey, back to Revit why don't you just Revit generated vectors as input for your study?

[2019-10-16 17:12] TomerPacific commented on #85
@chriswmackey , just to be sure of what I am doing :

- I am creating a new folder named **fixtures** where all the directories and files under tests will reside.
- There is also a need to update the test files where they import libraries from ladybug to go up one more level in the directory tree.

Correct?

[2019-10-16 18:08] chriswmackey commented on #85
Yes, that's basically it @TomerPacific . Everything you said is correct and you are right that we only need to update the paths to the files to reflect the moved directories.

FYI, the automated tests will run when you send the PR so we will know if you have done it all correctly.

[2019-10-16 18:15] TomerPacific commented on #85
@chriswmackey , I have opend a [PR](https://github.com/ladybug-tools/ladybug/pull/180).

[2019-10-16 20:48] #85 closed

[2020-01-02 13:11] zha opened #188 "Pickle error."
Not sure if this issue is with the DateTime module or with pickle but...

The following commands will yield error and I have no clue why it is. It seems that pickling will change float to hex

[code]

[2020-01-02 14:18] mostaphaRoudsari commented on #188
Hi @zha, You can use `to_dict` and `from_dict` instead of pickle. Would that solve your problem?

[2020-01-02 14:22] zha commented on #188
Hey @mostaphaRoudsari ,

Thank you for your reply. Unfortunately, this will not solve the issue.

What I included above is the origin of the problem. I wanted to pickle some other objects that contain the `DateTime`. Needing to use `to_dict` and `from_dict` is, unfortunately, not practical.

Thanks,

S

[2020-01-02 15:32] mostaphaRoudsari commented on #188
Can you share a little bit more about your workflow? Why would you need to pickle the sunpath?

We can take a look into this but I wonder if there is a better way to achieve what you are trying to do.

[2020-01-02 21:39] zha commented on #188
Dear @mostaphaRoudsari ,

Thank you for replying.

Again, `SunPath` is just an example. To put my problem in a larger scope: I was trying to pickle some objects that are generated with substantial among of computational effort. Instead of saving the attributes individually to data files, I was thinking just pickle the entire object so that I can just call the attributes of the pickled during the d

[2020-01-03 15:35] zha commented on #188
Hello @mostaphaRoudsari ,

Thanks to martineau on [stack overflow](https://stackoverflow.com/questions/59571625/unable-to-pickle-datetime-subclass), this issue has been resolved, and everything works fine now! Thanks for your help.

S

[2020-01-03 15:44] mostaphaRoudsari commented on #188
@zha, thank you for the update. I think this will be useful for other users too. Do you mind adding a number of tests and send a PR with your current changes?

[2020-01-03 17:32] zha commented on #188
@mostaphaRoudsari Thanks, the PR (#189) has been submitted. Please review and make changes to make sure that everything follows the protocol

[2020-01-04 18:21] #188 closed

[2020-01-06 21:31] chriswmackey opened #192 "Replace all use of hasattr with isinstance across the library and get rid of all "is" properties"
We know that the original reason why `hasattr` is used throughout this library is because it was a workaround to get the library to run in Dynamo and that the recommended practice is to use `isinstance` instead. Given that we agreed the core library shouldn't be burdened with non-recommended practices in order to accommodate workarounds for specific interfaces, we should remove all of the properti

[2020-01-06 22:24] chriswmackey opened #193 "Deprecate and replace methods like Location.from_location"
Having methods that try to take any possible means of creating an object and finding the right `classmethod` to create it seem like they probably shouldn't go in the core library unless we have some agreed-upon way that these classes should work.  I'm thinking particularly of [`AnalysisPeriod.fom_analysis_period`](https://github.com/ladybug-tools/ladybug/blob/master/ladybug/analysisperiod.py#L147-

[2020-01-06 22:28] chriswmackey opened #194 "Implement __slots__ on all objects"
While some of the classes in ladybug use `__slots__` right now, many do not and I imagine that this is because there has historically been a lot of refactoring. For the next release, we should implement `__slots__` on as many classes as we can.

[2020-01-06 22:42] chriswmackey opened #195 "Add duplicate and __copy__ methods to all mutable objects"
The practice of using a publicly-available `duplicate` method that calls a private `__copy__` method is something that was critical for honeybee workflows and so nearly all mutable `honyebee-core` and `honeybee-energy` objects currently have this implemented. While these methods are a bit less critical for Ladybug, I think they will nevertheless be important for developers.

Consider the following

[2020-01-06 22:44] chriswmackey opened #196 "Add `__hash__` and `__eq__` functionality to all classes"
It would be nice to be able to use `==`, `!=` and `hash` operators with the objects in this library. In order to do this, we need to add some hidden methods to each of the geometry classes. A sample of these methods can be found here:
https://github.com/ladybug-tools/honeybee-energy/blob/master/honeybee_energy/material/opaque.py#L513-L525

It's just that, for the `__key`, we should use whatever pr

[2020-01-06 22:46] mostaphaRoudsari commented on #193
We can remove them. The initial implementation idea was to have a classmethod that _tries_ to create the object but trying different approaches until it succeed. I understand now that this complexity should be handled on the application side.

[2020-01-06 22:56] mostaphaRoudsari commented on #195
I agree that it can be helpful but specially for simpler objects why can't the user use `copy.deepcopy()` to make a new copy before modifying the object?

[2020-01-07 00:15] chriswmackey opened #197 "Remove `ep_style_location_string`"
Since we now have `to_idf()`

[2020-01-10 11:53] jandromani commented on #152
want to know the direct sunlight in a ground point for each day....

[2020-01-10 15:02] mostaphaRoudsari commented on #152
@jandromani, this has been discussed on the forum:
https://discourse.ladybug.tools/t/sunlight-hours-analysis-averaged-daily-sunlight-problem/4112

GitHub is for reporting bugs and development discussions.

[2020-01-21 22:28] mostaphaRoudsari commented on #192
I did a quick search and it looks like all the current usage of `hasattr` is meaningful. We can probably close this issue.

[2020-01-23 20:14] chriswmackey commented on #192
The main reason why I opened this issue is because of all the "is" properties like this:
https://github.com/ladybug-tools/ladybug/blob/master/ladybug/location.py#L141-L144
and this:
https://github.com/ladybug-tools/ladybug/blob/master/ladybug/datatype/temperature.py#L47-L50

Once we get rid of those methods, I think we can close this issue. Am I clear to delete all of them or do we need to worry a

[2020-01-23 20:17] mostaphaRoudsari commented on #192
Ah! I see. I searched for `is_.*` and didn't find any. The Dynamo packages are not connected to source here so you can go ahead and remove them without deprecation. Let's hope no one else is using them already.

[2020-01-24 00:04] chriswmackey commented on #192
That's great to hear.  I should have asked earlier as I didn't realize Dynamo wasn't dependent on this repo at all. I'll send a PR now.

Few things are as satisfying as deleting bad code 🙂 !

[2020-01-24 00:07] chriswmackey commented on #192
Also, the reason why the search didn't turn up anything is that these old methods are all using cammelCase. Even all the more reason to delete it!

[2020-01-24 01:04] chriswmackey commented on #192
Addressed via https://github.com/ladybug-tools/ladybug/pull/205

[2020-01-24 01:04] #192 closed

[2020-02-09 08:01] javier123454321 commented on #196
Hi, I started with this process of adding the a __key(), __hash__(), __eq__(), and __ne__() functions to all classes.

So far I have done it for Location, STAT, Sunpath, Sun, and Wea classes, and adding unit tests to verify this functionality. One thing to consider is that for some classes, if an object is part of the keys, you need to evaluate the keys as strings.

This would be my first contribu

[2020-02-09 13:31] chriswmackey commented on #196
Thank you for starting to tackle this @javier123454321 . As a general guideline, I would recommend starting with simpler classes like Location, AnalysisPeriod, Color, etc. The `==` operator will be most helpful on these simpler classes and, as you can can already tell, implementing the operators on complex objects like Wea or STAT presents some issues.

To clarify further, evaluating the sub-objec

[2020-02-09 22:04] javier123454321 commented on #196
It makes sense to tackle it through hashes rather than the string version of the keys. I sent in a small pr just tackling analysisperiod. If this is a go, I'll do more classes in this way.

[2020-02-18 00:10] chriswmackey commented on #100
As the name change here suggests, I'm really leaning towards "hourly plot" now.

[2020-02-18 00:15] chriswmackey opened #208 "Refactor the sunpath module to use ladybug_geometry instead of sunpathplus"
This is the last thing that needs to be done to rid the ladybug plugin of its dependency on the extra sunpathplus and geometry modules that uses Rhino SDK.

[2020-02-18 01:38] MingboPeng commented on #100
"Temporal Plot" +1

[2020-02-18 03:11] saeranv commented on #100
I have no strong feelings about this, so am fine with anything, however my 2 cents: Hourly heatmap.

Because I think 'hourly heatmap' reflects that this is a specific instance (temporal/hourly) of an abstract type (heatmap). I like that the term 'heatmap' captures the fact that this plot represents three-dimensional data (in this case: hour of day, day of year, weather variable = 7 x 365 x 255). M

[2020-02-19 19:07] chriswmackey commented on #100
Thanks for the input.

I wanted to say for the record that I understand that this visualization is a heatmap and I don't disagree that it is.  The issue that I have with using that term for the name of the module/class/component is that 90% of the graphics we produce with ladybug/honeybee are also heatmaps (all of the radiation/sunlight hours/daylight/view studies, the psych + adaptive charts, the

[2020-03-02 10:47] mahaidong commented on #208
hi @chriswmackey
what is  sunpthpluse mean?
how can i do this `import sunpathplus as plus`  , where is sunpathplus from?

[2020-03-02 13:22] mostaphaRoudsari commented on #208
@mahaidong, you should open a new issue for this. Also you won't need sunpathplus if you are not running it from inside Grasshopper. If you have a follow up question either open a new issue or post a topic on the forum. Thanks.

[2020-03-07 18:22] chriswmackey commented on #100
This has been addressed via https://github.com/ladybug-tools/ladybug/pull/210

[2020-03-07 18:22] #100 closed

[2020-03-09 23:35] saeranv opened #211 "Add module for WindRose"
Add a windrose module to ladybug.

References for this include:
- the hourlyplot PR (in terms of general code style/structure for the + classes): https://github.com/ladybug-tools/ladybug/pull/210.
- the legacy component (for windrose properties): https://github.com/ladybug-tools/ladybug-legacy/blob/master/src/Ladybug_Wind%20Rose.py

@chriswmackey anything to add?

[2020-03-18 18:45] chriswmackey commented on #177
I can verify with some recent tests that I did that the ladybug Sunpath is perfectly in line with the NOAA solar calculator when you ensure that the years are matching. It looks like Revit is still off from the NOAA calculator by a hundredth of a degree so I don't know if it's still going to give you visible shadows but it might be worth re-testing this after we merge in this PR:
https://github.co

[2020-03-19 14:16] chriswmackey commented on #208
This was addressed via https://github.com/ladybug-tools/ladybug/pull/214

[2020-03-19 14:16] #208 closed

[2020-04-07 10:07] AlexJew opened #221 "EPW.import_data_by_field() wrongly imports the first date"
Hello,

While trying to build a date range in Python from an .epw file using the module **ladybug.epw.EPW.import_data_by_field** (see documentation : https://www.ladybug.tools/ladybug/docs/ladybug.epw.html), I have noticed that the first date isn't properly imported.

The code I use is:

[code]
The correction with timedelta is due to the fact that the hour range from EPW.import_Data_by_field(3) is

[2020-04-10 13:00] mostaphaRoudsari commented on #211
Isn't this already addressed? Should we close this issue?

[2020-04-10 13:01] mostaphaRoudsari commented on #197
Hi @chriswmackey, I believe this has already happened. Right?

[2020-04-10 18:58] saeranv commented on #211
Yes, this is done. Thanks for reminding me to close this.

[2020-04-10 18:58] #211 closed

[2020-04-22 00:15] saeranv opened #236 "Add unit tests for windrose angles"
Currently the methods to generate windrose angles (based on the number of directions chosen) is untested. This is a critical part of testing coverage that needs to be implemented.

[2020-04-24 19:10] saeranv commented on #236
Done with  #237

[2020-04-24 19:10] #236 closed

[2020-04-28 15:56] mostaphaRoudsari opened #239 "datacollection histogram docstring format"
![image](https://user-images.githubusercontent.com/2915573/80509251-28e4fb80-8947-11ea-962a-9c731a2934ad.png)

[2020-04-28 17:50] chriswmackey commented on #221
@AlexJew ,
Can you clarify what your question or request is here? If you are just asking whether the moving of the last datetime of the EPW to the start is intentional/desired, then I can say that this is all intentional. It was the best solution that we could think of if we wanted to use real datetime objects (eg. 0:00 instead of 24:00) that aligned with the poorly-chosen time standard of the EPW

[2020-04-28 17:51] chriswmackey commented on #239
@saeranv ,
As the author of this method, can you take care of this?  It looks like your use of the `code-block` is not properly formatted.

[2020-04-28 20:49] saeranv commented on #239
@chriswmackey, yes, I can fix this.

[2020-04-29 08:58] AlexJew commented on #221
@chriswmackey
Hi, I am not talking about the use of real datetime objects. They can be easily accomodated. Rather, I was pointing out that the first `year` object obtained from using `EPW.import_data_by_field(0)` (0 corresponds to the year) **gives repeatedly the wrong value**.

To refer back to the examples I gave above :
Ex. 1 : year 2000 is given instead of 1986
Ex. 2 : year 1968 is given inste

[2020-04-29 15:36] mostaphaRoudsari commented on #221
Hi @AlexJew,

As @chriswmackey mentioned what you are seeing there happens because Ladybug has to shift the data from epw file. The first row in data that you see is the last row in the epw file. If you check the data in the last row then you will see the year will match. This is by design and is not a bug.

EPW starts from hour 1:00 and goes to hour 24:00. Ladybug (and almost all the datetime lib

[2020-04-29 15:36] #221 closed

[2020-04-29 19:04] chriswmackey commented on #197
I removed it as part of this PR: https://github.com/ladybug-tools/ladybug/pull/242

[2020-04-29 19:04] #197 closed

[2020-04-29 19:09] saeranv commented on #239
I thought the error was that I had the usage tag in the wrong location, and so copied the other code::usage blocks exactly, but looks like the docs are still not interpreting this correctly.

![image](https://user-images.githubusercontent.com/1685956/80636337-4db29f00-8a2b-11ea-8235-19af0525ca7a.png)

Let me look up the autodocumentation documentation and send another PR

[2020-04-29 19:37] saeranv commented on #239
Okay, having checked the sphinx docs, and looking carefully at other examples code-blocks

[2020-04-29 19:44] saeranv commented on #239
@chriswmackey

Might need your help on this. After checking the sphinx docs, SO, and going through my PR - I can't find anything that I'm doing wrong.

Here's what I'm submitting as a code-block:
[code]
    @staticmethod
    def compute_function_aligned(funct, data_collections, data_type, unit):
        """Compute a function with a list of aligned data collections or individual values.

        Ar

[2020-04-29 20:15] mostaphaRoudsari commented on #239
You need one empty line after .. code-block::python line:

[code]

should be:

[code]

[2020-04-30 00:53] #239 closed

[2020-05-03 18:15] mkrueger12 commented on #194
Does this issue still need help? I see some files have _slots_ now.

[2020-05-09 02:40] chriswmackey opened #252 "Change unit conversion to use Temperature instead of TemperatureDelta by default"
More information can be found here:
https://discourse.ladybug.tools/t/ladybugplus-unit-converter-defaults-to-temperaturedelta-instead-of-temperature-conversion/9410?mobile_view=0

Temperature is definitely the more common case and we should make sure the unit converter  uses that.

[2020-05-10 02:19] #252 closed

[2020-05-11 19:49] AntoineDao opened #256 "Remove slots from datatype base"
https://github.com/ladybug-tools/ladybug/blob/d50a9fc3fc8707ee768719803c0047a9fe117124/ladybug/datatype/base.py#L29

Would it be possible to remove the __slots__ attribute on the datatype base? This is not high priority or essential but Ladybug Pandas currently can't work without overwriting the `_to_unit_base` method.

https://github.com/ladybug-tools/ladybug/blob/d50a9fc3fc8707ee768719803c0047a9

[2020-05-11 19:53] AntoineDao commented on #256
PS: Here's the bit of code from Ladybug Pandas that's breaking:

https://github.com/ladybug-tools/ladybug-pandas/blob/567d4e6c8f82d4665fd4bb0060cbdb6597680e80/ladybug_pandas/extension_types/dtype.py#L14-L56

[2020-05-17 00:08] chriswmackey commented on #256
@AntoineDao ,

Sorry for the late response here. I think removing `__slots__` from the `DataTypeBase` is fine if this is the only place where you need `__slots__` removed to make ladybug_pandas work. Most of the time, we end up using the same instance of a data type in a bunch of data collections so the memory that we are saving on the data type class from `__slots__` is probably really small. It

[2020-05-17 00:09] chriswmackey commented on #194
I just wanted to add a note that we should NOT use `__slots__` on the Data Type classes as it will break ladybug_pandas and it doesn't save us much memory.

[2020-05-19 18:20] #256 closed

[2020-05-19 22:54] chriswmackey opened #265 "Allow the editing of specific datetimes in the Wea object"
Admittedly, I don't know exactly what needs to be supported here but @mostaphaRoudsari will detail this out more.  At the least, it seems that the the Wea object needs to support a changing timestep:

https://github.com/ladybug-tools/ladybug/pull/264
https://github.com/ladybug-tools/honeybee/issues/130

Maybe it also needs to support non-annual values?

[2020-05-20 13:26] mostaphaRoudsari commented on #265
Wea has not been the easiest object to deal with. I think source of most of these issues is because wea is being used for something that it is not designed to do.

The original intent was to create an **annual** weather tape which carries irradiance values for each hour of the year. Daysim was using this file to generate the annual sky for annual daylight studies. In this settings and to capture t

[2020-06-12 06:18] tobkri opened #274 "Threshold divide by zero"
Hello,

I posted on the Ladybug Forum:

https://discourse.ladybug.tools/t/threshold-divide-by-zero/10048

The Threshold Selector gives an error due to division by zero. I see that the “totalArea” in the code is the issue (line 185). Can this be fixed by creating an if-statement which set the totalEnergy to sum(shadeNetFinal) if totalArea is 0?

From the code:
` #Calculate the total area and the en

[2020-06-22 18:11] chriswmackey opened #283 "Add ssl code to get the download method to work on Mac"
We have [functions in the futil module](https://github.com/ladybug-tools/ladybug/blob/master/ladybug/futil.py#L211-L283) that download files form a URL.   These work well in Windows now but @MingboPeng has said that they [will not work with the ladybug_tools Python on Mac](https://3.basecamp.com/4298486/buckets/13938991/messages/2778162941).

Here is the solution Mingbo proposes:
[code]

[2020-06-22 18:41] chriswmackey commented on #265
@mostaphaRoudsari ,
Thank you for writing all of this and I apologize for the late response but I think I still don't understand a fundamental question:
WHY do we need to support Weas that are not annual hourly/sub-hourly?

Is it just that we still want Wea's to be continuous but they can be for a specific analysis period that is not annual?

OR

Do we also need to support the case that the irradi

[2020-06-22 18:48] mostaphaRoudsari commented on #265
It's both but the second one is the more important case. A very common case is to only include the sun-up hours and remove the night hours for sunlight hours and annual daylight studies.

The current hoys input is there because the WEA object is an annual-only object. If we support sub-annual Wea then we will not need the input. I think in that case if one want to filter the existing hours and onl

[2020-06-22 19:48] chriswmackey commented on #265
Thank @mostaphaRoudsari . That clarifies a lot.  Knowing about the "sun-up only" case is particularly helpful. We can even add some methods on the Wea object that do this filtering automatically after we make the shift.

[2020-07-03 17:58] chriswmackey opened #293 "Get windrose prevailing_direction to be correct"
The [`prevailing_direction` property of the wind rose](https://github.com/ladybug-tools/ladybug/blob/master/ladybug/windrose.py#L328-L337) is not currently correct. As it is now, it always returns `360 % 360` (or 0) since 360 is usually the highest wind direction.

@saeranv , can you push a fix for this?

[2020-07-04 18:45] #293 closed

[2020-07-08 14:39] chriswmackey commented on #193
At this point, I can see that it will be a pain to remove this particular method on the Location object and I don't think it's worth all of the effort it will take. It's a ton of work for something that is really more of an aesthetic issue. Let's just agree to not add any more methods like this in the future and this will be the one case where we say inputs for Location can be varied enough that w

[2020-07-08 14:50] chriswmackey opened #301 "Add methods to make human-readable conditional statements"
For many of the climate graphics, we display information like the data collection metadata and the analysis period. But we currently don't output any text to indicate the application of conditional statements.

Because this text is something that many weather visualizations are likely to use, we should add a staticmethod to the [`BaseCollection` class](https://github.com/ladybug-tools/ladybug/blob

[2020-07-16 20:12] chriswmackey opened #308 "Add a method to EPW to produce DesignDays from the 8760 values in the file and a percentile"
It seems that many of the EPWs distributed by the DoE do not come with any design days in their .ddy files, which means that they cannot be used for the vast majority of EnergyPlus simulations.

In order to give people some means of running energy simulations with these EPW files, we can introduce a method on the EPW class that takes the type of design day people would like to approximate (eg. "Su

[2020-07-18 02:04] #308 closed

[2020-07-25 03:07] #265 closed

[2020-08-21 05:18] ikeough opened #330 "Attempting to run Ladybug on a system that does not have access to the home directory fails."
When attempting to run Ladybug in an AWS Lambda function, the following line throws an exception:
https://github.com/ladybug-tools/ladybug/blob/0bb5e3d7ceec6e3b2752743cfc31cb3fda3c35d0/ladybug/__init__.py#L12
Ladybug attempts to write logs to the user's home directory, but that directory is not writable in a Lambda. Logging should be disabled in these cases, or the logging directory should be conf

[2020-09-20 01:22] chriswmackey opened #348 "Add method to get patch area weights to the ViewSphere"
A lot of the times when using Tregenza vectors for view-based studies (like sky view), the results end up being significantly more accurate if the intersection of each Tregenza vector is weighted by the area of the sky patch it is associated with. So it would be useful if these weights can be calculated in a way that aligns with the patch vectors.

Given that using the areas of the mesh faces won'

[2020-09-24 11:23] dependabot-preview[bot] opened #351 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/ladybug-tools) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/ladybug-tools/update-logs/48603055).

[2020-09-26 18:28] #351 closed

[2020-09-30 05:38] chriswmackey opened #356 "Get Wea to be fully functional with leap years"
It seems there are a few methods that don't work when building Weas with leap years. The following method should be investigated:

* Wea.global_horizontal_irradiance
* Wea.estimate_illuminance_components()

[2020-09-30 05:40] chriswmackey commented on #348
I forgot to close this. This is done.

[2020-09-30 05:40] #348 closed

[2020-10-02 12:46] razinc commented on #301
Hello. I'm interested to try this but I need clarification. Where can I get the information to be returned by the staticmethod?

[2020-10-28 01:24] mostaphaRoudsari opened #369 "isotropic is spelled "isotrophic" in a few places in wea module"
@rpg777:

In this page: (https://www.ladybug.tools/ladybug/docs/ladybug.wea.html) isotropic is spelled "isotrophic" in a few places

[2020-11-05 05:52] chriswmackey opened #377 "Consider reverting the recent Wind Rose edits"
Now that I have tested the new wind rose components, it's very clear that the current behavior is not correct:
![image](https://user-images.githubusercontent.com/5567574/98202747-a4c88d80-1f00-11eb-8c5a-cac7d55e8aad.png)

https://drive.google.com/file/d/1SdRlG3gu1frCHetrVmB4WL3nIEx4CMQc/view?usp=sharing

This was all working correctly before the merge. So I am going to try to see if the problem is

[2020-11-05 05:59] chriswmackey commented on #377
Ok, it seems like it may actually just be because @saeranv removed this important code inside the Grasshopper component that was filtering the input data when speed was connected:
https://github.com/ladybug-tools/ladybug-grasshopper/commit/5a2276ab843fa288a93a029d23f6ba8a27cf90bc#diff-6c6c4fad5cc1925e0b488408af1e8c096d5994e7989bbf964991f41cacce99b4L158-L172

When I put it back, things are working

[2020-11-05 07:34] #377 closed

[2021-01-15 23:51] #369 closed

[2021-01-27 05:03] chriswmackey opened #437 "Add classmethod to EPW to initialize from_file_string"
Now that we have started to look into applications of ladybug where the library doesn't have access to a file system (eg. the browser), it seems we will need some methods that can initialize an EPW object from a string of the file contents instead of from a file path.

This should hopefully be relatively straightforward to implement given that we already have other classmethods on the EPW and we a

[2021-02-03 04:58] chriswmackey commented on #437
Resolved by https://github.com/ladybug-tools/ladybug/pull/439

[2021-02-03 04:58] #437 closed

[2021-02-03 05:01] chriswmackey commented on #196
I think we can call this one pretty much done.  We have everything needed to check the equality of data collections, which is the main use case.

[2021-02-03 05:01] #196 closed

[2021-02-18 08:38] KinzyB opened #447 "Ladybug HumanToSky component north input bug"
Hello!

I found a bug when trying to input the "north_" parameter into the "HumanToSky" component.

This bug is fixed by importing the following:

import math
from ladybug_rhino.togeometry import to_vector2d

I attached a .gh file with both the broken component and the fixed component.

![Screenshot 2021-02-18 101603](https://user-images.githubusercontent.com/79249633/108327553-34eec200-71d4-11eb-

[2021-04-02 00:22] chriswmackey commented on #194
Going through everything, I think this has been implemented in all of the cases where it matters. So I am going to close it out.

[2021-04-02 00:22] #194 closed

[2021-04-02 01:47] #195 closed

[2021-04-02 01:47] #356 closed

[2021-04-02 02:14] chriswmackey commented on #301
Hi @razinc . Sorry for such a late response. We are basically looking to convert the text that gets input to [filter_collections_by_statement](https://github.com/ladybug-tools/ladybug/blob/master/ladybug/_datacollectionbase.py#L446-L458) method and turn it into something that has the abbreviation of the data types in it.

[2021-04-06 15:13] alexberd opened #488 "Honeybee RunRecipe is not working in Ladybug tools 1.2"
I am trying to use the following runRecipe node using Ladybug tools 1.2 and I am getting the following error. I searched and the "daylight_factor.yaml" currently is not installed in my c: drive.
![image](https://user-images.githubusercontent.com/4086522/113733600-84d90800-96f2-11eb-9f39-13de487a3165.png)

However, I installed the three following without errors through pip.
ladybug (pip install lad

[2021-04-09 14:50] chriswmackey opened #490 "Add a method to HourlyContinuousCollection set data in EPW daytime range"
The method should move the end value to the start before assigning the values to the collection. More info here:

https://discourse.ladybug.tools/t/epw-export-move-first-item-to-end-position-explanation/13921/3?u=chris

[2021-05-05 20:30] samuelduchesne commented on #221
I was also confused by the shift ladybug performs when reading an EPW file. As @mostaphaRoudsari pointed out, EPW does start from hour 1:00, but, according the EnergyPlus documentation, the value at "Hour 1 is 00:01 to 01:00" (see https://bigladdersoftware.com/epx/docs/8-3/auxiliary-programs/energyplus-weather-file-epw-data-dictionary.html#field-hour). This would mean that for a python datetime at

[2021-05-25 03:14] dependabot-preview[bot] opened #510 "Dependabot couldn't parse the config file at .dependabot/config.yml"
Dependabot couldn't parse the config file at `.dependabot/config.yml`. The error raised was:

[code]

Please ensure the config file is a valid YAML file. An online YAML linter is available [here](https://jsonformatter.org/yaml-validator).

[2021-05-25 03:27] #510 closed

[2021-06-14 04:18] sawjam opened #513 "EPW blank file creation error incorrect dates."
I believe this a bug and not the same as #490  enhancement by chriswmackey.
I've been trying to create an epw file from scratch, but climate consultant 6 has been telling me the file is invalid.
If you do just:

from ladybug.epw import EPW
new_epw = EPW.from_missing_values()

You get an epw file with incorrectly ordered dates, and when you insert data it's incorrect.
See screengrab of a file, this

[2021-06-14 21:03] sawjam commented on #513
For further information, I've tested the file generated in Grasshopper with a number sequence in ladybug and the "rendering" the values from the generated epw, do retain the correct date order in analysis within ladybug.

[2021-06-21 23:23] chriswmackey commented on #221
You are right, @samuelduchesne , but then what is the value for midnight on January 1?  It still holds that the only datetime the EPW file provides for midnight on Jan 1 is at the end of the EPW and not the beginning.

[2021-06-22 20:36] chriswmackey commented on #513
Sorry it took me a while to respond, @sawjam . This looks like it is, indeed, a bug and probably one that's pretty easy to fix. I'll try to push a fix now.

[2021-06-22 20:53] chriswmackey commented on #513
Thanks for reporting, @sawjam . I just pushed a fix and it should be available throughout the core libraries in an hour or so.

[2021-06-22 21:06] #513 closed

[2021-06-22 21:11] sawjam commented on #513
Thank you appreciate the work, and loving pollination :-)

[2021-06-24 04:17] samuelduchesne commented on #221
But by assuming that the value for midnight on January 1 is the last value, are we not assuming that this last value will be the mean value for the whole first time step?

For example, with the `EnergyPlus-9-2-0/WeatherData/USA_CA_San.Francisco.Intl.AP.724940_TMY3.epw`, the last dry-bulb temperature is 11.1 degC. If we assume that this is the value at 2018-01-01 00:00, by definition of the date ti

[2021-10-01 18:45] Vyrwn opened #524 "LB Time Interval Operation does not change the a_period"
I am not sure if this is a bug or I am expecting a different functionality, but in when filtering data through the TimeOp the a_period field of the _header does not change. As a consequence, when I try to do some numeric manipulation and then reconstruct the data I cannot.

![image](https://user-images.githubusercontent.com/10517740/135671398-b35106ff-d3c1-4c18-a5d6-9b2974f2cc5f.png)

[2021-10-07 17:09] chriswmackey commented on #524
Hi @Vyrwn ,

This is not a bug and it's just a limitation of the ladybug-grasshopper [Construct Data](https://docs.ladybug.tools/ladybug-primer/components/1_analyzedata/construct_data) component can only build HourlyContinuousCollections. Here's the way to tweak the component to be able to create Monthly Collections:

https://discourse.ladybug.tools/t/minor-bug-in-lb-deconstruct-data/14106/3

I'm

[2021-10-07 17:14] chriswmackey opened #526 "Get MonthlyChart Class to Handle Terms that Swing Between Positive and Negative Better"
I think if we just did a better accounting of which parts of the term get added to the side of the stack, this would make the visualization a lot nicer.

More information here:
https://discourse.ladybug.tools/t/hourly-energy-balance-looks-wierd/16124

[2021-10-08 17:42] #526 closed, assigned to nobody

[2022-04-12 19:46] chriswmackey commented on #283
Tested and resolved here:
https://github.com/ladybug-tools/ladybug/pull/551

[2022-04-12 19:46] #283 closed

[2022-07-12 14:47] chriswmackey opened #562 "Add a WindProfile Class"
This should work similar to how the SunPath works where people can use it simply to get the wind speed at a given height or they can optionally get a fully-detailed visualizations.

[2022-07-23 04:52] Jaydenpis commented on #34
Got this

[2022-08-15 17:21] krishnaduttPanchagnula commented on #562
Hi @chriswmackey can we do this with visual crossing api key( It has limit of about 10,000 requests) per day? I tested out a piece of code. Would be happy to share if you are fine with it.

[2022-08-25 15:25] marctavenier opened #568 "Support for different data_types SQLiteResult.data_collections_by_output_name"
Hi,

When parsing a list with outputs to SQLiteResult.data_collections_by_output_name like this;
`["Zone Mean Air Temperature", "Zone Air Relative Humidity"]`
it returns the data collections, but the RH data collections have Temperature as their data_type instead of Fraction. It seems the data_type part of the header is of the first item is duplicated to all other items.

Fyi: when setting the _ou

[2022-11-09 11:16] IHoldYA opened #579 "Introduction of numpy and vectorization of the inbuilt definitions for performance improvement"
Hi, I was recently testing the ladybug tools package within external python environment and was wondering whether there are any plans for the code optimization by using numpy data arrays instead of native python lists and dictionaries as well as definitions' vectorization?
I am asking as this could increase the computation time significantly. I was even considering partly rewriting it myself for t

[2022-11-09 16:11] mostaphaRoudsari commented on #579
Hi, @IHoldYA - we use the ladybug core libraries from inside Rhino/Grasshopper and we need to keep them compatible with IronPython. As a result we can't add dependencies like numpy to the core library.

That said, you can create your own extension that does what you want. See `ladybug-pandas` as an example:  https://github.com/ladybug-tools/ladybug-pandas/